
body{
display: grid;
grid-template-rows: 1fr 5fr 1fr;
grid-template-columns: 1fr 5fr;
grid-template-areas: "header header"
                     "sidebar content"
                     "footer footer" ;
}
.header{
border: 1px solid black;
height: 100px;
grid-area: header;
}
.content{
    border: 1px solid black;
grid-area: content;
display: grid; 

}
#toDoFormcontainer{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.openToDoForm{
height: 30px;
}
.sidebar{
    border: 1px solid black;
    grid-area: sidebar;
}
.footer{
    border: 1px solid black;
grid-area: footer;
}

.toDoContainer{
display: grid;
grid-template-rows: repeat(2, 1fr);
border: 1px solid black;
}
.toDoTitle{
font-size: 12px;
}
.toDoNotes{
font-size: 8px;
}

.openArrayForm{

}
/* Formulario del array */
#arrayFormContainer{
    display: none; 
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
/* 7. Clases por crear

//         * CreateTodo -  boton
//         * Formulario todo
//             * Title
//             * Notes
//             * Date
//         * Create array boton
//         * Create array formulario
//         * Todo
//             * Checkbox
//             * Uppertext
//             * Lowertext
//             * Fecha
//         * Todo borrado */