html, body {
    height: 100%;
    margin: 0;
  }
body{
display: grid;
grid-template-rows: 1fr 8fr 1fr;
}
.header{
    position: relative;
    background-color: beige;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    background-color: rgb(86, 86, 123);
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 500px);
}
.footer{
    background-color: yellow;
    border: 1px solid black;
}
.headerBtn{
    height: 50px;
    width: 300px;
    position: relative;
    top: -410px;

}
.photo{
height: 500px;
background-color: aqua;
}
.textC{
height: 500px;
background-color: purple;
display: grid;
grid-template-rows: repeat(3, 166px);
}
.about{
  
    border: 1px solid black;
}
.openHours{
    
    border: 1px solid black;
}
.location{
    
    border: 1px solid black;
}

.menu{
    height: 100px;
    border: 1px solid black;
}
.photoF{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.info{
    height: 300px;
    border: 1px solid black;
    display: grid;
    align-items: center;
    justify-content: center;
}
.infoT{

}
.infoP{
    border: 1px solid black;
    height: 150px;
    width: 400px;
}